body {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
  font-weight: bold;
  line-height: 1;
}

textarea {
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
  font-size: 20px;
  font-weight: bold;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid black;
}

.description {
  white-space: pre-wrap;
}

.time-block {
  text-align: center;
  border-radius: 15px;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid white;
}

.hour {
  background-color: #e4d870;
  color: #000000;
  border-top: 1px dashed #000000;
  padding: 10px;
}

.past {
  background-color: #848088;
  color: rgb(0, 0, 0);
}

.present {
  background-color: #a977d8;
  color: white;
}

.future {
  background-color: #a4f0a4;
  color: rgb(0, 0, 0);
}

.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #06aed5;
  color: white;
}

.saveBtn:hover {
  font-size: 30px;
  transition: all 0.3s ease-in-out;
}
